header {
    height:10vh;
    vertical-align: top;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header button {
    flex-basis: 0;
}
